/* Reset Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f9f9f9;
    background: linear-gradient(to bottom, #f9f9f9, #eaeaea);
    
    
}

/* Cabeçalho */
/* Hero Section */
header.hero {
    background: linear-gradient(135deg, #4e54c8, #8f94fb);
    color: white;
    text-align: center;
    padding: 50px 20px; /* Reduzindo o padding */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 20px; /* Espaço menor abaixo */
}


html {
    scroll-behavior: smooth;
}


header.hero h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 15px;
}

.hero .hero-subtitle {
    font-size: 1.3em;
    margin-bottom: 30px;
    line-height: 1.6;
}

.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.feature {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    flex: 1;
    max-width: 300px;
    color: #333;
}

.feature:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.feature .icon {
    font-size: 2em;
    color: #4e54c8;
    margin-bottom: 10px;
}

.feature strong {
    font-size: 1.1em;
}

.hero .btn {
    background: #ffd700;
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.hero .btn:hover {
    background: #ffae00;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* Seção de Produtos */
.produtos {
    text-align: center;
    margin: 0 auto;
    padding: 30px 20px;
}
.produtos h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #4e54c8;
}

/* Grid de Produtos */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px; /* Espaços menores entre os cartões */
    justify-items: center;
}


/* Cartão de Produto */
.produto {
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.produto:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.produto img {
    width: 100%;
    max-height: 180px;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 10px;
}

.produto img:hover {
    transform: scale(1.05);
}

.produto h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.produto p {
    font-size: 1em;
    color: #555;
    margin-bottom: 10px;
}

.produto .preco {
    font-size: 1.5rem;
    font-weight: bold;
    color: red;
    margin-bottom: 10px;
}


.produto label {
    font-size: 0.9em;
    color: #555;
    margin-top: 10px;
    display: block;
    text-align: left;
}

.produto select {
    width: 100%;
    max-width: 150px;
    padding: 8px;
    margin: 5px 0 15px 0;
    font-size: 0.9em;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: all 0.3s ease;
}

.produto select:hover {
    border-color: #4e54c8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.produto .btn {
    display: inline-block;
    padding: 12px 25px;
    background: #4e54c8;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.produto .btn:hover {
    background: #8f94fb;
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.produto .badge {
    display: inline-block;
    background: #ffd700;
    color: #333;
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    
}

/* Rodapé */
footer {
    background-color: #333; /* Fundo escuro */
    color: #fff; /* Texto branco */
    text-align: center;
    padding: 20px 10px;
    font-size: 0.9em;
    border-top: 4px solid #ffd700; /* Borda superior dourada */
}

.footer-policy {
    margin-bottom: 10px;
}

.footer-policy p {
    margin: 5px 0;
    font-size: 1em;
}

.footer-policy i {
    color: #ffd700; /* Ícones dourados */
    margin-right: 5px;
}

footer p {
    margin-top: 10px;
}

footer a {
    color: #ffd700;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}




/* Seção de Confiança */
.confianca {
    text-align: center;
    background-color: #f8f9fa;
    padding: 40px 20px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.confianca h2 {
    font-size: 2em;
    font-weight: 600;
    color: #4e54c8;
    margin-bottom: 20px;
}

.selos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.selo {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    text-align: center;
}

.selo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.selo p {
    font-size: 1.1em;
    font-weight: bold;
    color: #4e54c8;
}

.descricao {
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
}

.frete-gratis {
    background: #ff8c00; /* Laranja chamativo */
    color: white;
    padding: 30px 20px;
    text-align: center;
    border-radius: 10px;
    margin: 20px 0;
}

.frete-gratis h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.frete-gratis p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.frete-gratis .btn {
    background: white;
    color: #ff8c00;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.frete-gratis .btn:hover {
    transform: scale(1.05);
    background-color: #ffd700;
    color: #333;
}


/* Seção de Contato */
.contato {
    padding: 40px 20px;
    text-align: center;
    background-color: #f9f9f9; /* Fundo suave */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
}

.contato h2 {
    font-size: 2rem;
    color: #4A4A4A;
    margin-bottom: 10px;
}

.contato p {
    font-size: 1rem;
    color: #6B6B6B;
    margin-bottom: 20px;
}

.contato-opcoes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-contato {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-contato i {
    margin-right: 10px; /* Espaço entre o ícone e o texto */
}

/* Botão do WhatsApp */
.btn-contato.whatsapp {
    background-color: #25D366;
}

.btn-contato.whatsapp:hover {
    background-color: #1DA851;
}

/* Botão do E-mail */
.btn-contato.email {
    background-color: #007bff;
}

.btn-contato.email:hover {
    background-color: #0056b3;
}

/* Informações adicionais */
.horarios,
.telefone {
    font-size: 1rem;
    color: #4A4A4A;
    margin-top: 10px;
}

.horarios i,
.telefone i {
    color: #007bff;
    margin-right: 5px;
}


.destaques {
    margin: 40px auto;
    max-width: 900px;
    text-align: center;
    background: #f0f0f0;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.destaques h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #4e54c8;
}

.destaques ul {
    list-style: none;
    padding: 0;
}

.destaques ul li {
    margin: 10px 0;
    font-size: 1.2em;
    color: #555;
}

/* Seção de Depoimentos */
.depoimentos {
    padding: 20px; /* Ajusta o espaçamento interno da seção */
    background-color: #f9f9f9; /* Cor de fundo suave */
    text-align: center; /* Centraliza o texto */
    margin: 0 auto; /* Centraliza a seção */
}

.depoimentos h2 {
    font-size: 2rem; /* Tamanho do título */
    color: #4A4A4A; /* Cor do título */
    margin-bottom: 10px; /* Reduz espaço abaixo do título */
}

.depoimentos-slider {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo */
    align-items: center; /* Centraliza verticalmente */
    height: 200px; /* Define a altura total do slider */
    position: relative;
    overflow: hidden;
    margin: auto; /* Centraliza o slider na página */
    width: 90%; /* Ajusta a largura para caber melhor */
    max-width: 800px; /* Define um tamanho máximo */
}

.depoimento {
    flex: 0 0 100%; /* Define que cada slide ocupa 100% */
    display: none; /* Esconde os slides que não estão ativos */
    text-align: center;
    padding: 10px 20px; /* Ajusta o espaçamento interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white; /* Cor de fundo do depoimento */
    border-radius: 10px; /* Arredonda os cantos */
    transition: all 0.5s ease-in-out; /* Animação suave */
}

.depoimento.active {
    display: block; /* Mostra o slide ativo */
}

.depoimento img {
    width: 80px; /* Tamanho da imagem */
    height: 80px; /* Tamanho da imagem */
    border-radius: 50%; /* Torna a imagem redonda */
    object-fit: cover; /* Garante que a imagem não fique distorcida */
    margin: 0 auto 10px; /* Centraliza a imagem e adiciona margem inferior */
}

.depoimento p {
    font-size: 1rem; /* Ajusta o tamanho do texto */
    color: #4A4A4A; /* Cor do texto */
    margin-bottom: 10px; /* Margem inferior */
}

.depoimento span {
    font-weight: bold; /* Destaque para o nome do cliente */
    color: #007bff; /* Cor azul para o nome */
}

.avaliacao {
    font-size: 1.2rem; /* Tamanho das estrelas */
    color: #FFD700; /* Cor dourada para as estrelas */
    margin-top: 5px; /* Espaço acima das estrelas */
}

/* Botões de controle */
.slider-controles {
    text-align: center;
    margin-top: 15px; /* Espaço entre o slider e os botões */
}

.slider-controles .prev,
.slider-controles .next {
    cursor: pointer;
    font-size: 1.5rem; /* Tamanho dos botões */
    margin: 0 10px;
    color: #007bff; /* Cor dos botões */
    transition: color 0.3s;
}

.slider-controles .prev:hover,
.slider-controles .next:hover {
    color: #0056b3; /* Cor ao passar o mouse */
}

@media (max-width: 768px) {
    h1, h2, h3 {
        font-size: 1.5rem;
    }
    p {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .btn {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .depoimentos-slider img {
        width: 60px;
        height: 60px;
    }
    .depoimentos-slider p {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .section {
        padding: 10px 15px;
    }
}

@media (max-width: 768px) {
    .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .produto {
        width: 90%;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    footer {
        text-align: center;
        padding: 20px;
    }
}

/* Ajuste da seção de destaque */
h2 {
    font-size: 2rem; /* Ajuste o tamanho da fonte do título */
    text-align: center;
    margin-bottom: 10px; /* Espaço menor abaixo do título */
}

.secao-destaque {
    padding: 20px 10px; /* Adiciona mais espaço interno para celulares */
    text-align: center;
}

.secao-destaque p {
    font-size: 1rem; /* Ajuste o tamanho do texto */
    line-height: 1.5; /* Melhor espaçamento entre linhas */
    margin: 10px 0;
}

.botao-destaque {
    font-size: 1rem; /* Ajuste do tamanho do botão */
    padding: 10px 20px; /* Melhor dimensão do botão */
    margin-top: 15px;
    display: block;
    width: 100%; /* Para ocupar toda a largura no celular */
    max-width: 300px; /* Limitar o tamanho máximo */
    margin-left: auto;
    margin-right: auto;
}

/* Ajuste para os cartões de informação */
.cartoes-info {
    display: flex;
    flex-direction: column; /* Empilha os cartões no celular */
    align-items: center;
    gap: 10px; /* Espaço entre os cartões */
}

.cartao {
    max-width: 300px; /* Limita a largura máxima de cada cartão */
    padding: 15px;
    background-color: #ffffff; /* Fundo branco */
    border-radius: 8px; /* Arredonda os cantos */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra */
    text-align: center;
    margin: 0 auto;
}

.cartao img {
    width: 50px; /* Ajuste do ícone */
    height: auto;
    margin-bottom: 10px;
}

.cartao h3 {
    font-size: 1.2rem; /* Tamanho do texto do cartão */
    margin-bottom: 10px;
}

.cartao p {
    font-size: 0.9rem; /* Ajuste do texto no cartão */
    line-height: 1.4;
}

@media (max-width: 768px) {
    h2 {
        font-size: 1.8rem; /* Título menor em telas pequenas */
    }

    .cartoes-info {
        flex-direction: column; /* Cartões empilhados no celular */
        gap: 15px;
    }

    .cartao {
        width: 90%; /* Ocupa quase toda a largura no celular */
    }

    .botao-destaque {
        font-size: 1rem; /* Ajusta o botão no celular */
        padding: 12px 15px;
    }
}

/* Ajuste da seção de destaque */
.destaque {
    text-align: center; /* Centraliza todo o conteúdo */
    padding: 20px; /* Adiciona espaço interno */
    margin: 0 auto; /* Centraliza a seção horizontalmente */
    max-width: 90%; /* Garante que o conteúdo não ultrapasse 90% da largura */
    box-sizing: border-box; /* Inclui padding e border dentro da largura */
}

/* Ajuste para o texto */
.destaque h2 {
    font-size: 2rem; /* Ajusta o tamanho do texto */
    color: #fff; /* Mantém o texto branco */
    margin-bottom: 10px; /* Espaço inferior */
}

/* Ajuste para os ícones e textos */
.destaque-itens {
    display: flex;
    flex-wrap: wrap; /* Garante que os itens fiquem organizados no celular */
    justify-content: center; /* Centraliza os itens horizontalmente */
    gap: 20px; /* Espaçamento entre os itens */
    margin-top: 20px; /* Espaçamento superior */
}

/* Cada item individual */
.destaque-item {
    flex: 1 1 250px; /* Cada item ocupa no mínimo 250px */
    max-width: 300px; /* Limita a largura máxima dos itens */
    text-align: center; /* Centraliza o texto dentro do item */
    background-color: #fff; /* Fundo branco */
    padding: 10px;
    border-radius: 10px; /* Arredonda os cantos */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/* Botão centralizado */
.destaque-botao {
    margin-top: 20px; /* Espaçamento superior */
    display: flex;
    justify-content: center;
}

.destaque-botao a {
    background-color: #f1c40f; /* Cor de fundo do botão */
    color: #000; /* Cor do texto */
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}

.destaque-botao a:hover {
    background-color: #d4ac0d; /* Cor mais escura no hover */
    color: #fff; /* Texto branco ao passar o mouse */
}

/* Garantindo que o texto e a seção fiquem corretamente centralizados no mobile */
.destaque {
    padding: 20px; /* Espaçamento interno */
    margin: 0 auto; /* Centraliza a seção */
    max-width: 100%; /* Garante que ocupe a largura completa */
    text-align: center; /* Centraliza o texto */
    box-sizing: border-box; /* Inclui padding na largura */
}

.destaque h2 {
    font-size: 1.8rem; /* Tamanho do texto ajustado para telas menores */
    margin-bottom: 15px; /* Espaçamento inferior */
}

.destaque-itens {
    display: flex;
    flex-wrap: wrap; /* Permite quebra de linha nos itens */
    justify-content: center; /* Centraliza os itens */
    gap: 15px; /* Espaçamento entre os itens */
    margin: 20px auto; /* Espaçamento em torno */
}

.destaque-item {
    flex: 1 1 90%; /* Ajusta a largura para ocupar quase toda a tela no mobile */
    max-width: 300px; /* Limita a largura máxima */
    text-align: center; /* Centraliza o texto */
    padding: 10px;
    border-radius: 8px;
    background-color: #fff; /* Cor de fundo para destacar */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
}

/* Ajuste do botão */
.destaque-botao {
    margin-top: 20px; /* Espaço acima */
    text-align: center; /* Centraliza o botão */
}

.destaque-botao a {
    display: inline-block;
    background-color: #f1c40f; /* Cor do botão */
    color: #000; /* Cor do texto */
    padding: 12px 20px; /* Tamanho do botão */
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.destaque-botao a:hover {
    background-color: #d4ac0d; /* Cor mais escura ao passar o mouse */
    color: #fff; /* Texto branco no hover */
}

/* Ajuste da seção "Preços Que Você Nunca Viu Antes!" */
.intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 100%; /* Garante que ocupe toda a largura no celular */
    box-sizing: border-box;
}

.intro-section h1 {
    font-size: 2rem; /* Ajuste para o título */
    margin-bottom: 15px;
    color: #fff;
}

.intro-section p {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #f8f9fa;
}

/* Cartões de benefícios */
.benefit-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100%; /* Alinha os cartões na largura total */
}

.benefit-card {
    width: 100%; /* Cartões ocupam toda a largura no celular */
    max-width: 300px; /* Limita a largura máxima */
    text-align: center;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Botão de CTA */
.cta-button {
    font-size: 1rem;
    padding: 12px 20px;
    margin-top: 20px;
    background-color: #fdd835;
    color: #000;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #ffc107;
}

/* Ajuste para telas menores que 768px */
@media (max-width: 768px) {
    .intro-section h1 {
        font-size: 1.5rem;
    }

    .intro-section p {
        font-size: 1rem;
        margin-bottom: 15px;
    }

    .benefit-cards {
        flex-direction: column; /* Organiza os cartões na vertical */
        align-items: center;
        gap: 15px;
    }

    .benefit-card {
        width: 90%; /* Ocupa quase toda a largura */
        max-width: 320px;
    }

    .cta-button {
        width: 90%;
        max-width: 300px;
        margin: 0 auto;
    }
}


@media (max-width: 528px) {
    .features {
        flex-direction: column; /* Alinha os cards verticalmente */
        gap: 15px; /* Reduz o espaço entre os cards */
        margin: 10px 0; /* Ajusta as margens */
    }

    .feature {
        max-width: 100%; /* Garante que ocupe toda a largura */
        padding: 10px; /* Reduz o espaçamento interno */
    }

    header.hero {
        padding: 30px 15px; /* Reduz o padding do cabeçalho */
    }

    header.hero h1 {
        font-size: 1.8rem; /* Ajusta o tamanho do título */
        margin-bottom: 10px; /* Reduz o espaço inferior */
    }

    .hero .hero-subtitle {
        font-size: 1rem; /* Ajusta o texto da descrição */
        line-height: 1.4; /* Melhora o espaçamento entre linhas */
        margin-bottom: 20px;
    }

    .hero .btn {
        font-size: 1rem;
        padding: 10px 20px; /* Reduz o tamanho do botão */
    }
}


